/* reset rules */
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&family=Quicksand:wght@300..700&display=swap');

:root {
  --bg-color-page: #41436a;
  --accent-color: #f64668;
  --border-color: #984063;
  --text-color: #fe9677;
  --section-padding: 1.2rem;
  --margin-top: 4rem;
  --correct-color: #7ed4ad;
  --wrong-color: #cc2b52;
  --modal-bg: rgba(65, 67, 106, 10%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*,
html {
  font-family: 'Jura', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1.1rem;
}

/* general rules */

header {
  text-align: center;
}

h1 {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 2em;
}

h2 {
  font-size: 2.5rem;
}

body {
  /* overflow: hidden; */
  background-color: var(--bg-color-page);
  color: var(--text-color);
}

/* utilities */
.hidden {
  display: none;
}
.flex {
  display: flex;
}

/*
 container centering
*/
.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 1.2rem 0;
}

.row {
  width: 100%;
  display: flex;
  padding: 0 1.2rem;
}

.tutorial-container {
  min-width: 490px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  border: 1px solid var(--border-color);
  border-radius: 0.5rem;
  padding: 1.2rem;
  background-color: #2f314e88;
  -webkit-box-shadow: 0px 0px 30px 0px var(--accent-color);
  -moz-box-shadow: 0px 0px 30px 0px var(--accent-color);
  box-shadow: 0px 0px 30px 1px var(--accent-color);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);

  /* position: fixed;
  left: 0; */
}

.tutorial-container .symbols-legend {
  margin: 1rem 0;
}

.tutorial-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px solid var(--border-color);
}

span:first-child {
  display: block;
  line-height: 2.5rem;
  /* width: 60%; */
}

/* 
sections margin and padding
*/
.insert-numbers {
  margin-top: 4rem;
}

.insert-numbers > .container {
  position: relative;
}

.row.nums {
  max-width: 100%;
  border-top: 1px solid var(--accent-color);
  border-bottom: 1px solid var(--accent-color);
  padding: 2rem 0;
}

/* modale vittoria o sconfitta */
.modal-container {
  /* display: flex; */
  align-items: center;

  width: 100dvw;
  height: 100dvh;
  max-width: 500px;
  position: fixed;
  /* overflow: hidden; */
  top: 3rem;
  left: 50%;
  transform: translate(-50%, -3rem);
  z-index: 999;

  text-align: center;
  font-size: 1rem;
}
.modal {
  background: var(--modal-bg);
  height: 700px;
  border-radius: 1rem;
  /* css glow generator */
  -webkit-box-shadow: 0px 0px 30px 0px var(--accent-color);
  -moz-box-shadow: 0px 0px 30px 0px var(--accent-color);
  box-shadow: 0px 0px 30px 1px var(--accent-color);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border: 1px solid var(--accent-color);
  /* backdrop-filter: saturate(100%); */

  display: flex;
  flex-wrap: wrap;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
  padding: var(--section-padding);

  /* border-radius: 999px; */
}

.modal-header h2 {
  font-size: 3.5rem;
  font-weight: 600;
  /* text-decoration: underline; */
}

.modal-header h2::after {
  display: block;
  content: '';
  height: 1px;
  background-color: var(--text-color);
}

.modal-body {
  height: 200px;
  display: flex;
  align-items: center;
  /* width: 40%; */
}
.modal-body p {
  text-align: center;
  font-size: 1.5em;
}

/* header */
.row.description {
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 1rem;
}

.row.description > * {
  width: 100%;
}

/* btn element */
.btn-wrap {
  width: min-content;
  margin: auto;
}
.btn {
  opacity: 0.7;
  text-align: center;
  cursor: pointer;
  background: var(--border-color);
  color: var(--text-color);
  border: 1px solid;
  border-radius: 999px;
  padding: 0 1.2rem;
  line-height: 2.5rem;
  /* font-size: 1.25rem; */
}
.btn:hover {
  transition: all ease-in-out 200ms;
  opacity: 1;
}

.btn.start-game {
  margin-top: 1.2rem;
}

.form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  row-gap: var(--section-padding);
}

.form > label {
  text-align: center;
  width: calc(100% / 4);
  padding: var(--section-padding);
}

/* stile text input */
.num-input > input {
  width: 120px;
  text-align: center;
  border-radius: 0.5rem;
  border: 1px solid var(--accent-color);
  padding: 0 0.4rem;
  line-height: 2em;
}

/* 
risposte utente 
*/
.row > ul {
  flex-basis: 100%;
}

.answer {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--accent-color);
  letter-spacing: 0.2rem;
  margin-bottom: 2rem;
}

.correct-badge {
  color: var(--correct-color);
}

.wrong {
  color: var(--wrong-color);
  font-size: 1.5rem;
}

.fa-square {
  font-size: 1.2rem;
}

/****************************
MEDIAQUERY
****************************/

@media screen and (max-width: 659px) {
  * {
    font-size: 1rem;
  }
  .form > label {
    width: calc(100% / 2);
  }
  .tutorial-container {
    min-width: 350px;
  }
}

/* @keyframes modal {
  from {
    position
  }
} */
